@CHARSET "ISO-8859-1";

body {
	background-color: white;
	margin: 10%;
	text-align: center;
}

a {
	border-style: outset;
	border-color: buttonface;
	box-sizing: border-box;
	-webkit-appearance: push-button;
	margin: 1%;
	padding: 3px;
}
a, a:VISITED {
	text-decoration: none;
	color: black;
}

table {
	align: center;
	text-align: center;
	width: 70%;
	margin: 2.5%;
}

th {
	padding: 1%;
}

td {
	padding-bottom: 1%;
	padding-top: 1%;
}